/* responsive breakpoints */
$screen-xxl: 1440px; // wide screen
$screen-xl: 1280px; // desktop
$screen-l: 959px; // narrow desktop / iPad
$screen-m: 719px; // wide mobile
$screen-s: 419px; // narrow mobile
