@use 'sass:color';
@use "sass:list";

$accent-color: (
  color: #3eaf7c,
  ammont: (
    -10%,
    10%,
  ),
);

$text-color: (
  color: (
    #2c3e50,
    #9e9e9e,
  ),
  ammont: (
    10%,
    20%,
    25%,
    40%,
  ),
);

$bg-color: (#fff, #1e1e1e);
$bg-color-light: (#f8f8f8, #272727);
$bg-color-blur: (rgba(255, 255, 255, 0.9), rgba(30, 30, 30, 0.9));
$border-color: (#eaecef, #302d28);
$code-bg-color: (#ecf4fa, #282c34);
$arrow-color: (#ccc, #333);
$box-shadow-color: (#f0f1f2, #0f0e0d);
$card-shadow-color: (rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.3));

$black: (#000, #fff);
$dark-grey: (#666, #999);
$light-grey: (#999, #666);
$white: (#fff, #000);
$grey3: (#333);
$grey12: (#bbb);
$grey14: (#eee);
