@use "sass:list";
@use "sass:map";

/* theme-color */
$colorPicker: (
  "red": #e74c3c,
  "blue": #3498db,
  "green": #3eaf7c,
  "orange": #f39c12,
  "purple": #8e44ad,
);

/* code block */
$lineNumbersWrapperWidth: 2.5rem;
$codeLang: js ts html md vue css sass scss less stylus go java c sh yaml py
  docker dockerfile makefile;

/* Content Class */
$contentClass: ".theme-default-content";

/* Color list */
$colorList: #cf1322, #fa541c, #f39c12, #2ecc71, #25a55b, #13c2c2, #096dd9,
  #aa6fe9, #eb2f96;
